// @font-face {
//     font-family: YoonGothic;
//     src: url('/fonts/YoonGothicPro750.woff') format('woff');
//     font-style: normal;
//     font-weight: normal;
// }

// @font-face {
//     font-family: YoonGothic;
//     src: url('/fonts/YoonGothicPro770.woff') format('woff');
//     font-style: normal;
//     font-weight: bold;
// }

$font-size-smaller: 10px;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-large: 16px;
$font-size-larger: 18px;
$font-size-largest: 24px;

$font-weight-normal: 400;
$font-weight-bold: 600;
