@import '../../styles/common/common.scss';
@import '../../styles/common/markdown/prism-vsc-dark-plus';

.post-container {
  color: $gray8;
  margin-top: 26px;

  $border-color: $gray4;

  > .intro {
    border-bottom: 1px solid $border-color;
    padding-bottom: 30px;
    margin-bottom: 26px;
    position: relative;

    > .title {
      font-size: 46px;
      font-weight: bold;
      @media (max-width: $not-desktop) {
        font-size: 34px;
        line-height: 38px;
      }
    }

    > .series {
      text-align: right;
      margin-top: 14px;
      margin-bottom: -14px;
      color: $yellow7;
      font-weight: bold;
    }

    > .sub-title {
      color: $gray6;
      margin-top: 24px;
      font-size: 24px;
      @media (max-width: $not-desktop) {
        font-size: 20px;
        margin-top: 20px;
      }
    }

    > .created-at {
      color: $border-color;
      display: inline-block;
      position: absolute;
      right: 0;
      bottom: -20px;
      background-color: #fff;

      @media (max-width: $not-desktop) {
      }
    }
  }

  .body {
    width: 100%;
    overflow: hidden;
    margin: 8px auto 0;
    text-align: left;
    padding-bottom: 0;
    // @media (max-width: $not-desktop) {
    //   margin: 0 12px;
    //   width: initial;
    // }

    img {
      width: 100%;
    }

    .markdown-body {
      color: $gray7;

      h1 {
        color: $yellow6;
        margin-top: 40px;
        margin-bottom: 14px;
        font-size: 28px;
        line-height: 32px;
        font-weight: bold;
      }

      h2 {
        margin-top: 20px;
        margin-bottom: 14px;
        font-size: 22px;
        line-height: 28px;
      }

      h3 {
        margin-top: 16px;
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 23px;
        font-weight: bold;
      }

      pre {
        border-radius: 4px;
      }

      p {
        line-height: 24px;
      }

      ul {
        padding-left: 20px;
        list-style: outside;
        margin-top: 10px;
      }

      li {
        line-height: 24px;
        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }

      strong {
        color: $blue6;
      }
    }
  }

  > .summary {
    padding: 14px 8px;
    background-color: $gray1;
    color: $gray6;
    margin-top: 30px;
    font-style: italic;
    border-radius: 4px;
    line-height: 24px;

    &:before {
      content: '" ';
    }
    &:after {
      content: ' "';
    }
  }

  > .tags {
    margin-top: 44px;

    > .item {
      color: $yellow7;
      font-weight: bold;
      padding-right: 6px;
    }
  }

  .signiture {
    background-color: $yellow0;
    padding: 20px 24px;
    margin-top: 80px;

    @media (max-width: $not-desktop) {
      padding: 20px 24px;
      margin: 50px -20px 30px;
    }

    .title {
      margin-bottom: 8px;
      font-size: 20px;
      color: $gray7;
      @media (max-width: $not-desktop) {
      }

      .label {
        color: $gray6;
        padding-right: 7px;
        font-size: 20px;
      }

      .name {
        font-size: 14px;
      }
    }

    .desc {
      color: $gray6;
      font-weight: lighter;
      line-height: 26px;
      @media (max-width: $not-desktop) {
        font-size: 14px;
        line-height: 22px;
      }
    }

    .extra-info {
      margin-top: 10px;
      color: $yellow6;
      font-size: 14px;
      text-align: right;
    }
  }
}
